---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Profile from "../components/Profile.astro";
---

<Layout title="Alejandro's portfolio">
  <header class="header">
    <h1 class="header-text text-gradient text-2xl">
      &lt;Alejandro Moscardó /&gt;
    </h1>
  </header>

  <main>
    <div class="first-section">
      <div class="welcome">
        <span class="welcome-text">
          Welcome to <span class="text-gradient">Alejandro's</span> portfolio
        </span>
      </div>

      <Profile />
    </div>

    <ul role="list" class="link-card-grid">
      <Card href="https://astro.build/themes/" title="About" body="" />
      <Card href="https://docs.astro.build/" title="My skills" body="" />
      <Card href="https://astro.build/integrations/" title="Work" body="" />
      <Card
        href="https://astro.build/chat/"
        title="Contact"
        body="Contact me via mail or discord ❤️"
      />
    </ul>
  </main>
</Layout>

<script>
  window.onscroll = () => {
    console.log("scrolling");
    stickyHeader();
  };

  const header = document.querySelector("header")!;
  const sticky = header.offsetTop;

  function stickyHeader() {
    if (window.scrollY > sticky) {
      header.classList.add("sticky");
    } else {
      header.classList.remove("sticky");
    }
  }
</script>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  .first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .welcome {
    display: inline-block;
    max-width: 100%;
  }

  .welcome-text {
    margin: auto;
    display: block;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    border-right: 3px solid #fff;
    letter-spacing: 1px;
    width: 100%;
    height: 36px;
    white-space: nowrap;
    overflow: hidden;
    animation-name: typing, cursor;
    animation-duration: 10.5s, 0.5s;
    animation-timing-function: steps(32, end), step-end;
    animation-iteration-count: infinite, infinite;
    animation-direction: normal, alternate;
    animation-delay: 1s, 0s;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }

  .header {
    width: 100%;
    height: 59px;
    background: #13151a9e;
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    padding: 24px;
  }

  .sticky {
    position: fixed;
    top: 0;
    z-index: 102;
  }

  .sticky + main {
    padding-top: 59px;
  }

  /* MEDIA QUERIES */
  @media (max-width: 640px) {
    .welcome-text {
      font-size: 1.5rem;
      height: 28px;
    }
  }

  @media (max-width: 520px) {
    .welcome-text {
      font-size: 1.2rem;
      height: 21px;
    }

    .container {
      padding: 40px;
    }

    * {
      font-size: 16px;
    }
  }

  @media (max-width: 420px) {
    .welcome-text {
      font-size: 1rem;
      height: 18px;
    }

    .container {
      padding: 32px;
    }

    * {
      font-size: 14px;
    }

    .header-text {
      font-size: 1.2rem !important;
    }
  }

  /* ANIMATIONS */

  /* cursor blinking */
  @keyframes cursor {
    50% {
      border-color: transparent;
    }
  }

  @keyframes typing {
    0% {
      width: 0;
    }
    35% {
      width: 100%;
    }
  }
</style>
