---
import profileImage from "../../public/alejandro-picture.jpg";
import RrssIcon from "./RrssIcon.astro";
interface Props {}

const linkedinIcon: string = '/logo-linkedin.png';
const githubIcon: string = '/logo-github.png';
const twitterIcon: string = '/logo-twitter.png';
---

<div class="container">
  <img src="/alejandro-picture.jpg" class="img" alt="foto de perfil" />

  <p>Lorem ipsum dolor sit amet consectetur adipiscing elit proin ullamcorper sodales, urna volutpat sapien dis metus sem aenean nisi faucibus.</p>

  <div class="icon-wrapper">
    <RrssIcon icon={linkedinIcon} rrssUrl="https://www.linkedin.com/in/alejandro-moscard%C3%B3-vilar-10a970264/"/>
    <RrssIcon icon={githubIcon} rrssUrl="https://github.com/A7OMICsp/"/>
    <RrssIcon icon={twitterIcon} rrssUrl="https://twitter.com/alxxmv/"/>
  </div>
  
  
</div>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 32px;
    padding: 59px;
  }

  .img {
    width: 60vw;
    height: 60vw !important;
    max-width: 400px;
    max-height: 400px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    border: 8px solid #fff;
    box-shadow: 0 0 20px 0 #a88acf;
  }

  .icon-wrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 16px;

  }

  p {
    text-align: center;
  }

  @media (max-width: 640px) {


  }

  @media (max-width: 520px) {
    
    .container {
      padding: 40px;
    }

    * {
      font-size: 16px;
    }
  }

  @media (max-width: 420px) {
    .container {
      padding: 32px;
    }

    * {
      font-size: 14px;
    }
  }
</style>
